<div class="characteristics flex flex-col gap-4">
  <div
    class="characteristic flex gap-3 items-center justify-start text-[#4D5254]"
  >
    <span class="w-4 h-4 md:h-[22px] md:w-[22px]"
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
        <path
          d="M2 8L5.99529 12L14 4"
          stroke="#2C7EF8"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg></span
    >
    <p class="text-xs md:text-base">
      Negative Ion Technology may <span class="font-bold"
        >help with allergens</span
      >
    </p>
  </div>
  <div
    class="characteristic flex gap-3 items-center justify-start text-[#4D5254]"
  >
    <span class="w-4 h-4 md:h-[22px] md:w-[22px]"
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
        <path
          d="M2 8L5.99529 12L14 4"
          stroke="#2C7EF8"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg></span
    >
    <p class="text-xs md:text-base">
      Designed for <span class="font-bold">air rejuvenation</span>
    </p>
  </div>

  <div
    class="characteristic flex gap-3 items-center justify-start text-[#4D5254]"
  >
    <span class="w-4 h-4 md:h-[22px] md:w-[22px]"
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
        <path
          d="M2 8L5.99529 12L14 4"
          stroke="#2C7EF8"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg></span
    >
    <p class="text-xs md:text-base">
      <span class="font-bold">Perfect for every room</span>in all types of
      places.
    </p>
  </div>
</div>
