<p class="text-2xl text-center capitalize md:text-[32px] md:text-left">
  <span class="text-[#2C7EF8]">ONE TIME ONLY</span> special price for 6 extra
  Clarifion for only <span class="text-[#2C7EF8]">$14 each</span> ($84.00
  total!)
</p>
