<div
  class="content flex flex-col gap-3 border-[1px] border-[#CFCFCF] rounded py-2 px-4 my-3"
>
  <div
    class="top flex items-center gap-3 justify-center text-xs text-[#4D5254]"
  >
    <p>Free shipping</p>
    <span class="vertical-line w-[1px] bg-[#CFCFCF] h-[14px]"></span>
    <div class="security flex items-center gap-2">
      <span class="w-3 h-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <g clip-path="url(#clip0_78_440)">
            <path
              d="M9.625 5.99902H2.625C2.07272 5.99902 1.625 6.44674 1.625 6.99902V10.499C1.625 11.0513 2.07272 11.499 2.625 11.499H9.625C10.1773 11.499 10.625 11.0513 10.625 10.499V6.99902C10.625 6.44674 10.1773 5.99902 9.625 5.99902Z"
              stroke="#696969"
              stroke-width="1.33333"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M3.62598 5.99902V3.99902C3.62598 3.33598 3.88937 2.7001 4.35821 2.23126C4.82705 1.76242 5.46294 1.49902 6.12598 1.49902C6.78902 1.49902 7.4249 1.76242 7.89374 2.23126C8.36258 2.7001 8.62598 3.33598 8.62598 3.99902V5.99902"
              stroke="#696969"
              stroke-width="1.33333"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
          <defs>
            <clipPath id="clip0_78_440">
              <rect
                width="12"
                height="12"
                fill="white"
                transform="translate(0.5 0.5)"></rect>
            </clipPath>
          </defs>
        </svg>
      </span>
      <p>Secure 256-bit SSL encryption</p>
    </div>
  </div>
  <div class="horizontal-line h-[1px] bg-[#CFCFCF]"></div>
  <div class="bottom flex justify-center items-center gap-[2px]">
    <span class="w-6 h-[14px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="14"
        viewBox="0 0 24 14"
        fill="none"
      >
        <g clip-path="url(#clip0_78_446)">
          <path
            opacity="0.07"
            d="M22.1053 0H1.89474C0.821053 0 0 0.758333 0 1.75V12.25C0 13.2417 0.88421 14 1.89474 14H22.1053C23.1789 14 24 13.2417 24 12.25V1.75C24 0.758333 23.1158 0 22.1053 0Z"
            fill="black"></path>
          <path
            d="M22.1055 0.583313C22.8003 0.583313 23.3687 1.10831 23.3687 1.74998V12.25C23.3687 12.8916 22.8003 13.4166 22.1055 13.4166H1.89499C1.20026 13.4166 0.631836 12.8916 0.631836 12.25V1.74998C0.631836 1.10831 1.20026 0.583313 1.89499 0.583313H22.1055Z"
            fill="white"></path>
          <path
            d="M17.874 5.89169H17.6845C17.4319 6.47502 17.2424 6.76669 17.0529 7.64169H18.2529C18.0635 6.76669 18.0635 6.35835 17.874 5.89169ZM19.7056 9.33335H18.6319C18.5687 9.33335 18.5687 9.33335 18.5056 9.27502L18.3793 8.75002L18.3161 8.63335H16.8003C16.7372 8.63335 16.674 8.63335 16.674 8.75002L16.4845 9.27502C16.4845 9.33335 16.4214 9.33335 16.4214 9.33335H15.095L15.2214 9.04169L17.0529 5.07502C17.0529 4.78335 17.2424 4.66669 17.5582 4.66669H18.5056C18.5687 4.66669 18.6319 4.66669 18.6319 4.78335L19.5161 8.57502C19.5793 8.80835 19.6424 8.98335 19.6424 9.21669C19.7056 9.27502 19.7056 9.27502 19.7056 9.33335ZM11.2424 9.15835L11.495 8.10835C11.5582 8.10835 11.6214 8.16669 11.6214 8.16669C12.0635 8.34169 12.5056 8.45835 12.9477 8.40002C13.074 8.40002 13.2635 8.34169 13.3898 8.28335C13.7056 8.16669 13.7056 7.87502 13.4529 7.64169C13.3266 7.52502 13.1371 7.46669 12.9477 7.35002C12.695 7.23335 12.4424 7.11669 12.2529 6.94169C11.495 6.35835 11.7477 5.54169 12.1898 5.13335C12.5687 4.90002 12.7582 4.66669 13.2635 4.66669C14.0214 4.66669 14.8424 4.66669 15.2214 4.78335H15.2845C15.2214 5.13335 15.1582 5.42502 15.0319 5.77502C14.7161 5.65835 14.4003 5.54169 14.0845 5.54169C13.895 5.54169 13.7056 5.54169 13.5161 5.60002C13.3898 5.60002 13.3266 5.65835 13.2635 5.71669C13.1371 5.83335 13.1371 6.00835 13.2635 6.12502L13.5793 6.35835C13.8319 6.47502 14.0845 6.59169 14.274 6.70835C14.5898 6.88335 14.9056 7.17502 14.9687 7.52502C15.095 8.05002 14.9056 8.51669 14.4003 8.86669C14.0845 9.10002 13.9582 9.21669 13.5161 9.21669C12.6319 9.21669 11.9372 9.27502 11.3687 9.10002C11.3056 9.21669 11.3056 9.21669 11.2424 9.15835ZM9.03189 9.33335C9.09505 8.92502 9.09505 8.92502 9.1582 8.75002C9.47399 7.46669 9.78978 6.12502 10.0424 4.84169C10.1056 4.72502 10.1056 4.66669 10.2319 4.66669H11.3687C11.2424 5.36669 11.1161 5.89169 10.9266 6.53335C10.7371 7.40835 10.5477 8.28335 10.295 9.15835C10.295 9.27502 10.2319 9.27502 10.1056 9.27502M3.1582 4.78335C3.1582 4.72502 3.28452 4.66669 3.34768 4.66669H5.49504C5.81083 4.66669 6.06347 4.84169 6.12662 5.13335L6.69505 7.70002C6.69505 7.75835 6.69504 7.75835 6.7582 7.81669C6.7582 7.75835 6.82136 7.75835 6.82136 7.75835L8.14768 4.78335C8.08452 4.72502 8.14768 4.66669 8.21083 4.66669H9.53715C9.53715 4.72502 9.53715 4.72502 9.47399 4.78335L7.5161 9.04169C7.45294 9.15835 7.45294 9.21669 7.38978 9.27502C7.32662 9.33335 7.20031 9.27502 7.07399 9.27502H6.12662C6.06347 9.27502 6.00031 9.27502 6.00031 9.15835L4.98978 5.54169C4.86347 5.42502 4.67399 5.25002 4.42136 5.19169C4.04241 5.01669 3.34768 4.90002 3.22136 4.90002L3.1582 4.78335Z"
            fill="#142688"></path>
        </g>
        <defs>
          <clipPath id="clip0_78_446">
            <rect width="24" height="14" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </span>
    <span class="w-6 h-[14px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="14"
        viewBox="0 0 24 14"
        fill="none"
      >
        <g clip-path="url(#clip0_78_451)">
          <path
            opacity="0.07"
            d="M22.1053 0H1.89474C0.821053 0 0 0.758333 0 1.75V12.25C0 13.2417 0.88421 14 1.89474 14H22.1053C23.1789 14 24 13.2417 24 12.25V1.75C24 0.758333 23.1158 0 22.1053 0Z"
            fill="black"></path>
          <path
            d="M22.1055 0.583313C22.8003 0.583313 23.3687 1.10831 23.3687 1.74998V12.25C23.3687 12.8916 22.8003 13.4166 22.1055 13.4166H1.89499C1.20026 13.4166 0.631836 12.8916 0.631836 12.25V1.74998C0.631836 1.10831 1.20026 0.583313 1.89499 0.583313H22.1055Z"
            fill="#5A31F4"></path>
          <path
            d="M13.5037 5.66601C13.5037 6.63901 12.7603 7.33317 11.722 7.33317H10.7437C10.7276 7.3334 10.7118 7.33792 10.6984 7.3462C10.6849 7.35447 10.6744 7.36616 10.6679 7.37984C10.6638 7.38889 10.6616 7.3986 10.6616 7.40842V8.68709C10.6616 8.69702 10.6595 8.70686 10.6553 8.71602C10.6512 8.72519 10.6452 8.73351 10.6375 8.74051C10.6299 8.7475 10.6208 8.75304 10.6109 8.75678C10.6009 8.76053 10.5903 8.76242 10.5795 8.76234H9.89487C9.8731 8.76234 9.85221 8.75435 9.83682 8.74013C9.82142 8.72591 9.81277 8.70662 9.81277 8.68651V4.07526C9.81251 4.06023 9.8172 4.04549 9.82623 4.03299C9.83525 4.02049 9.84818 4.01082 9.86329 4.00526C9.8733 4.00139 9.88403 3.99941 9.89487 3.99942H11.7265C12.7603 3.99942 13.5037 4.69359 13.5037 5.66659V5.66601ZM12.6498 5.66601C12.6498 5.10718 12.2342 4.69884 11.6709 4.69884H10.7437C10.7329 4.69884 10.7223 4.7008 10.7123 4.70461C10.7023 4.70842 10.6933 4.71401 10.6857 4.72105C10.678 4.72809 10.672 4.73645 10.6679 4.74565C10.6637 4.75486 10.6616 4.76472 10.6616 4.77468V6.55384C10.6615 6.56382 10.6636 6.57371 10.6677 6.58294C10.6718 6.59216 10.6779 6.60052 10.6856 6.60751C10.6932 6.61457 10.7023 6.62017 10.7123 6.62398C10.7222 6.62778 10.7329 6.62972 10.7437 6.62967H11.6709C12.2342 6.63259 12.6498 6.22426 12.6498 5.66601ZM13.7071 7.87742C13.6999 7.72798 13.7335 7.57926 13.8049 7.445C13.8764 7.31073 13.9832 7.19524 14.1157 7.10917C14.3829 6.92484 14.8003 6.82917 15.4136 6.80934L16.066 6.78834V6.61159C16.066 6.25751 15.8071 6.10817 15.3915 6.10817C14.9759 6.10817 14.7126 6.24292 14.6526 6.46401C14.6474 6.47954 14.6369 6.49309 14.6227 6.50257C14.6084 6.51206 14.5912 6.51695 14.5736 6.51651H13.9281C13.9104 6.51672 13.893 6.5116 13.8787 6.50193C13.8643 6.49225 13.8537 6.47854 13.8486 6.46284C13.8451 6.45245 13.8443 6.44149 13.846 6.43076C13.942 5.90692 14.417 5.50909 15.4212 5.50909C16.4898 5.50909 16.8757 5.96584 16.8757 6.83676V8.68709C16.8756 8.6971 16.8734 8.70699 16.8692 8.7162C16.8649 8.72541 16.8587 8.73376 16.851 8.74075C16.8432 8.74775 16.8341 8.75326 16.824 8.75696C16.8139 8.76067 16.8032 8.7625 16.7923 8.76234H16.1418C16.12 8.76234 16.0992 8.75435 16.0838 8.74013C16.0684 8.72591 16.0597 8.70662 16.0597 8.68651V8.54884C16.0599 8.53742 16.0563 8.52621 16.0495 8.51673C16.0426 8.50724 16.0327 8.49992 16.0212 8.49576C16.0098 8.49161 15.9973 8.49062 15.9853 8.4929C15.9733 8.49518 15.9623 8.50063 15.9536 8.50859C15.7578 8.70343 15.4433 8.84401 14.9387 8.84401C14.1966 8.84401 13.7071 8.48992 13.7071 7.87742ZM16.066 7.47668V7.33317L15.2203 7.37401C14.7751 7.39501 14.5161 7.56417 14.5161 7.85001C14.5161 8.10901 14.7536 8.25251 15.1692 8.25251C15.7332 8.25251 16.066 7.97251 16.066 7.47668ZM17.5288 10.16V9.62392C17.5289 9.61269 17.5318 9.60163 17.5371 9.59154C17.5425 9.58145 17.5502 9.57259 17.5597 9.56559C17.5692 9.55854 17.5802 9.55347 17.5919 9.55075C17.6037 9.54803 17.616 9.54772 17.6279 9.54984C17.7277 9.56676 17.8288 9.57551 17.9305 9.57551C18.1046 9.58432 18.2769 9.5387 18.4196 9.44599C18.5622 9.35328 18.6669 9.2189 18.7168 9.06451L18.7591 8.94143C18.7654 8.92481 18.7654 8.90671 18.7591 8.89009L17.4043 5.69868C17.3965 5.68116 17.396 5.66156 17.403 5.64375C17.4101 5.62593 17.424 5.61119 17.4422 5.60242C17.4543 5.59655 17.4678 5.59354 17.4814 5.59367H18.1382C18.1551 5.59372 18.1715 5.59848 18.1854 5.60733C18.1993 5.61618 18.2099 5.62871 18.2159 5.64326L19.1355 7.89434C19.1412 7.90945 19.1519 7.92254 19.166 7.93175C19.1802 7.94096 19.1971 7.94583 19.2145 7.94568C19.2317 7.94566 19.2486 7.94072 19.2627 7.93153C19.2768 7.92234 19.2876 7.90936 19.2934 7.89434L20.0923 5.64968C20.0978 5.6342 20.1084 5.62074 20.1227 5.61129C20.1371 5.60183 20.1543 5.59689 20.1719 5.59718H20.8515C20.8719 5.59729 20.8916 5.60419 20.9069 5.61662C20.9222 5.62906 20.9321 5.64618 20.9349 5.66484C20.9364 5.67729 20.9347 5.68989 20.9298 5.70159L19.4803 9.24593C19.1469 10.0702 18.5753 10.2802 17.9456 10.2802C17.8261 10.2832 17.7068 10.2703 17.5913 10.2417C17.5719 10.2373 17.5549 10.2266 17.5433 10.2117C17.5317 10.1967 17.5264 10.1783 17.5281 10.16H17.5288ZM5.41193 3.73342C4.55014 3.72748 3.7183 4.02516 3.08582 4.56584C3.05891 4.58845 3.04211 4.61953 3.03872 4.65298C3.03533 4.68643 3.0456 4.71985 3.0675 4.74667L3.45782 5.23609C3.47047 5.25259 3.48689 5.26632 3.50593 5.2763C3.52498 5.28627 3.54616 5.29225 3.56799 5.29381C3.58981 5.29537 3.61174 5.29247 3.63222 5.28532C3.65269 5.27817 3.67121 5.26693 3.68645 5.25242C3.91377 5.04394 4.18374 4.87932 4.48062 4.76815C4.77751 4.65699 5.09538 4.6015 5.41572 4.60492C6.75466 4.60492 7.45382 5.52892 7.45382 6.44242C7.45382 7.43409 6.71929 8.13293 5.66329 8.14634C4.84729 8.14634 4.23214 7.65051 4.23214 6.99484C4.23284 6.82905 4.27363 6.66549 4.35154 6.51612C4.42945 6.36675 4.54251 6.23535 4.68245 6.13151C4.71225 6.10893 4.73116 6.07639 4.73507 6.04098C4.73897 6.00557 4.72755 5.97017 4.70329 5.94251L4.29277 5.46709C4.28037 5.45247 4.26491 5.44032 4.2473 5.43137C4.22969 5.42242 4.2103 5.41685 4.1903 5.415C4.17029 5.41314 4.15009 5.41505 4.13091 5.42059C4.11172 5.42613 4.09395 5.43521 4.07866 5.44726C3.82723 5.63354 3.62398 5.8693 3.48372 6.13734C3.34396 6.40479 3.27121 6.69787 3.27087 6.99484C3.27087 8.12359 4.31614 9.00851 5.65508 9.01551H5.67403C7.26371 8.99684 8.41319 7.91651 8.41319 6.44009C8.41319 5.12934 7.36035 3.73342 5.41193 3.73342Z"
            fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_78_451">
            <rect width="24" height="14" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </span>
    <span class="w-6 h-[14px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="14"
        viewBox="0 0 24 14"
        fill="none"
      >
        <g clip-path="url(#clip0_78_456)">
          <path
            opacity="0.07"
            d="M22.1053 0H1.89474C0.821053 0 0 0.758333 0 1.75V12.25C0 13.2417 0.88421 14 1.89474 14H22.1053C23.1789 14 24 13.2417 24 12.25V1.75C24 0.758333 23.1158 0 22.1053 0Z"
            fill="black"></path>
          <path
            d="M22.1055 0.583313C22.8003 0.583313 23.3687 1.10831 23.3687 1.74998V12.25C23.3687 12.8916 22.8003 13.4166 22.1055 13.4166H1.89499C1.20026 13.4166 0.631836 12.8916 0.631836 12.25V1.74998C0.631836 1.10831 1.20026 0.583313 1.89499 0.583313H22.1055Z"
            fill="white"></path>
          <path
            d="M15.0944 4.84169C15.2207 4.25835 15.0944 3.85002 14.7155 3.50002C14.3365 3.09169 13.6418 2.91669 12.7576 2.91669H10.1681C9.97864 2.91669 9.85232 3.03335 9.78917 3.20835L8.8418 9.10002C8.8418 9.21669 8.90495 9.33335 9.03127 9.33335H10.7365L10.9892 7.35002L12.126 6.06669L15.0944 4.84169Z"
            fill="#003087"></path>
          <path
            d="M15.0949 4.84167L14.9686 4.95834C14.6528 6.59167 13.5791 7.17501 12.0633 7.17501H11.3686C11.1791 7.17501 11.0528 7.29167 10.9896 7.46667L10.6107 9.74167L10.4844 10.325C10.4844 10.4417 10.5475 10.5583 10.6738 10.5583H12.0002C12.1896 10.5583 12.316 10.4417 12.316 10.325V10.2667L12.5686 8.86667V8.80834C12.5686 8.69167 12.7581 8.57501 12.8844 8.57501H13.0738C14.4002 8.57501 15.4107 8.10834 15.6633 6.70834C15.7896 6.12501 15.7265 5.65834 15.4107 5.30834C15.3475 5.01667 15.2212 4.90001 15.0949 4.84167Z"
            fill="#3086C8"></path>
          <path
            d="M14.7156 4.72499C14.6524 4.66665 14.5893 4.66665 14.5261 4.66665C14.4629 4.66665 14.3998 4.66665 14.3366 4.60832C14.1472 4.54999 13.8945 4.54999 13.6419 4.54999H11.7472C11.684 4.54999 11.6208 4.54999 11.6208 4.60832C11.4945 4.66665 11.4314 4.72499 11.4314 4.84165L10.9893 7.40832V7.46665C10.9893 7.29165 11.1787 7.17499 11.3682 7.17499H12.1893C13.7682 7.17499 14.7787 6.59165 15.0945 4.95832V4.84165C15.0314 4.78332 14.905 4.72499 14.7787 4.72499H14.7156Z"
            fill="#012169"></path>
        </g>
        <defs>
          <clipPath id="clip0_78_456">
            <rect width="24" height="14" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </span>
    <span class="w-6 h-[14px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="14"
        viewBox="0 0 24 14"
        fill="none"
      >
        <g clip-path="url(#clip0_78_463)">
          <path
            opacity="0.07"
            d="M22.1053 0H1.89474C0.821053 0 0 0.758333 0 1.75V12.25C0 13.2417 0.88421 14 1.89474 14H22.1053C23.1789 14 24 13.2417 24 12.25V1.75C24 0.758333 23.1158 0 22.1053 0Z"
            fill="black"></path>
          <path
            d="M22.1055 0.583313C22.8003 0.583313 23.3687 1.10831 23.3687 1.74998V12.25C23.3687 12.8916 22.8003 13.4166 22.1055 13.4166H1.89499C1.20026 13.4166 0.631836 12.8916 0.631836 12.25V1.74998C0.631836 1.10831 1.20026 0.583313 1.89499 0.583313H22.1055Z"
            fill="white"></path>
          <path
            d="M9.47366 11.0834C11.9153 11.0834 13.8947 9.25518 13.8947 7.00002C13.8947 4.74486 11.9153 2.91669 9.47366 2.91669C7.03198 2.91669 5.05261 4.74486 5.05261 7.00002C5.05261 9.25518 7.03198 11.0834 9.47366 11.0834Z"
            fill="#EB001B"></path>
          <path
            d="M14.5265 11.0834C16.9682 11.0834 18.9476 9.25518 18.9476 7.00002C18.9476 4.74486 16.9682 2.91669 14.5265 2.91669C12.0848 2.91669 10.1055 4.74486 10.1055 7.00002C10.1055 9.25518 12.0848 11.0834 14.5265 11.0834Z"
            fill="#FFC000"></path>
          <path
            d="M13.8949 6.99999C13.8949 5.59999 13.137 4.37499 12.0002 3.67499C10.8634 4.43332 10.1055 5.65832 10.1055 6.99999C10.1055 8.34165 10.8634 9.62499 12.0002 10.325C13.137 9.62499 13.8949 8.39999 13.8949 6.99999Z"
            fill="#FF5F00"></path>
        </g>
        <defs>
          <clipPath id="clip0_78_463">
            <rect width="24" height="14" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </span>
    <span class="w-6 h-[14px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="14"
        viewBox="0 0 24 14"
        fill="none"
      >
        <g clip-path="url(#clip0_78_470)">
          <path
            opacity="0.07"
            d="M22.1053 0H1.89474C0.821053 0 0 0.758333 0 1.75V12.25C0 13.2417 0.88421 14 1.89474 14H22.1053C23.1789 14 24 13.2417 24 12.25V1.75C24 0.758333 23.1158 0 22.1053 0Z"
            fill="black"></path>
          <path
            d="M22.1055 0.583313C22.8003 0.583313 23.3687 1.10831 23.3687 1.74998V12.25C23.3687 12.8916 22.8003 13.4166 22.1055 13.4166H1.89499C1.20026 13.4166 0.631836 12.8916 0.631836 12.25V1.74998C0.631836 1.10831 1.20026 0.583313 1.89499 0.583313H22.1055Z"
            fill="white"></path>
          <path
            d="M11.4271 6.98607V8.85274H10.7842V4.24441H12.4838C12.6874 4.24122 12.8897 4.27525 13.0791 4.34452C13.2684 4.4138 13.4411 4.51696 13.5871 4.64807C13.7255 4.7673 13.837 4.91055 13.9154 5.06961C13.9937 5.22868 14.0374 5.40045 14.0438 5.57511C14.0503 5.74977 14.0194 5.92389 13.953 6.08752C13.8865 6.25115 13.7858 6.40108 13.6566 6.52874L13.5871 6.59641C13.2903 6.85716 12.8937 6.99891 12.4838 6.98957L11.4271 6.98607ZM11.4271 4.80907V6.43541H12.4995C12.7377 6.44241 12.9675 6.35666 13.1343 6.19974C13.2536 6.08492 13.3336 5.94025 13.3646 5.78373C13.3955 5.6272 13.376 5.46573 13.3083 5.31939C13.2407 5.17305 13.1279 5.04832 12.9841 4.96069C12.8403 4.87307 12.6718 4.82643 12.4995 4.82657L11.4271 4.80907ZM15.5223 5.59541C15.9328 5.57791 16.3345 5.70507 16.6452 5.95299C16.9263 6.20382 17.076 6.55382 17.0558 6.91491V8.85974H16.4438V8.41291H16.4128C16.3031 8.5805 16.1479 8.71875 15.9625 8.81399C15.7772 8.90924 15.5682 8.95818 15.3562 8.95599C15.01 8.96634 14.6724 8.85526 14.4113 8.64507C14.2876 8.55187 14.1885 8.43391 14.1214 8.30011C14.0543 8.1663 14.0211 8.02016 14.0242 7.87274C14.0169 7.72375 14.0482 7.57531 14.1156 7.43976C14.1829 7.30421 14.2843 7.18547 14.4113 7.09341C14.723 6.88642 15.1001 6.78076 15.4838 6.79299C15.8103 6.78132 16.1343 6.84724 16.4248 6.98607V6.86474C16.4269 6.76442 16.4043 6.66497 16.3587 6.57391C16.3131 6.48286 16.2456 6.40258 16.1614 6.33916C15.9924 6.1972 15.7709 6.1204 15.5425 6.12449C15.3766 6.12304 15.213 6.16069 15.0673 6.23388C14.9215 6.30706 14.7983 6.41336 14.7094 6.54274L14.1442 6.21374C14.2977 6.01062 14.5049 5.84717 14.7461 5.73894C14.9873 5.6307 15.2545 5.58129 15.5223 5.59541ZM14.7094 7.88674C14.7079 7.96229 14.7265 8.03703 14.7637 8.10437C14.8008 8.17171 14.8552 8.22959 14.9223 8.27291C15.0631 8.37557 15.2381 8.42982 15.4181 8.42632C15.689 8.42574 15.9486 8.32716 16.1419 8.15099C16.3345 7.98416 16.4438 7.75141 16.4438 7.50757C16.2006 7.34792 15.9052 7.27084 15.6075 7.28941C15.3764 7.281 15.1485 7.3411 14.957 7.46091C14.8812 7.50776 14.819 7.57109 14.7758 7.64534C14.7326 7.71958 14.7098 7.80247 14.7094 7.88674ZM20.5743 5.69924L18.4332 10.2434H17.7713L18.5804 8.65207L17.1758 5.69924H17.8724L18.8905 7.96549L19.8814 5.69924H20.5743Z"
            fill="#5F6368"></path>
          <path
            d="M8.8337 6.58238C8.8337 6.40272 8.81855 6.22305 8.7876 6.04572H6.07812V7.0648H7.62613C7.59461 7.22676 7.52802 7.38117 7.43035 7.5188C7.33267 7.65642 7.20593 7.77441 7.0577 7.86572V8.52722H7.98234C8.26348 8.27597 8.4845 7.97309 8.63113 7.63812C8.77777 7.30314 8.84678 6.9435 8.8337 6.58238Z"
            fill="#4285F4"></path>
          <path
            d="M6.08064 9.17043C6.77937 9.18814 7.45916 8.95932 7.98169 8.53051L7.0558 7.86551C6.83333 7.99726 6.58126 8.08041 6.31876 8.10865C6.05626 8.13689 5.79025 8.10948 5.54095 8.02849C5.29165 7.9475 5.06562 7.81507 4.88007 7.64127C4.69451 7.46747 4.55431 7.25688 4.47012 7.02551H3.52148V7.70801C3.75886 8.14728 4.12404 8.51679 4.57607 8.7751C5.02809 9.03341 5.54909 9.1703 6.08064 9.17043Z"
            fill="#34A853"></path>
          <path
            d="M4.47111 7.02936C4.35098 6.70112 4.35098 6.34552 4.47111 6.01728V5.33478H3.52248C3.32024 5.70313 3.21484 6.11032 3.21484 6.52332C3.21484 6.93632 3.32024 7.34351 3.52248 7.71186L4.47111 7.02936Z"
            fill="#FFC000"></path>
          <path
            d="M6.08064 4.92359C6.48928 4.91669 6.8843 5.05927 7.17959 5.32025L8.00064 4.566C7.47712 4.11218 6.78274 3.86464 6.06485 3.87592C5.53645 3.87837 5.01911 4.01592 4.57018 4.27333C4.12125 4.53074 3.75827 4.89795 3.52148 5.33425L4.47012 6.01734C4.58104 5.70238 4.79607 5.42747 5.08496 5.23128C5.37386 5.03508 5.72208 4.92747 6.08064 4.92359Z"
            fill="#EA4335"></path>
        </g>
        <defs>
          <clipPath id="clip0_78_470">
            <rect width="24" height="14" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </span>
    <span class="w-6 h-[14px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="14"
        viewBox="0 0 24 14"
        fill="none"
      >
        <g clip-path="url(#clip0_78_479)">
          <path
            d="M21.7179 0H2.28151C2.20054 0 2.11944 0 2.03861 0.000396357C1.97038 0.000924834 1.90229 0.00158543 1.83406 0.00330298C1.68543 0.00700231 1.53552 0.0151937 1.38876 0.0395036C1.24157 0.0627948 1.09896 0.10621 0.965625 0.16832C0.69758 0.29424 0.479708 0.495468 0.343374 0.743038C0.276007 0.866234 0.228996 0.998053 0.203904 1.13411C0.177297 1.2698 0.168571 1.40813 0.164566 1.54526C0.162823 1.60823 0.161774 1.67121 0.161419 1.7342C0.161133 1.80871 0.161133 1.88349 0.161133 1.9584V12.0415C0.161133 12.1164 0.161133 12.191 0.161419 12.2659C0.161848 12.3288 0.162706 12.3918 0.164566 12.4549C0.168571 12.5917 0.17744 12.7302 0.203904 12.8658C0.228944 13.0018 0.275908 13.1336 0.343231 13.2568C0.410918 13.3799 0.49927 13.4922 0.605005 13.5898C0.71056 13.6875 0.832232 13.7691 0.965482 13.8315C1.10095 13.8954 1.2397 13.9359 1.3889 13.9606C1.53552 13.9848 1.68543 13.993 1.83406 13.9967C1.90229 13.9981 1.97038 13.9989 2.03861 13.9993C2.11944 13.9999 2.20054 13.9999 2.28151 13.9999H21.7179C21.7987 13.9999 21.8798 13.9999 21.9607 13.9993C22.0288 13.9991 22.0968 13.9981 22.1654 13.9967C22.3137 13.993 22.4636 13.9848 22.6107 13.9606C22.7579 13.9373 22.9005 13.8938 23.0338 13.8315C23.3017 13.7055 23.5195 13.5043 23.6561 13.2568C23.7251 13.1317 23.7689 13.0036 23.7954 12.8658C23.822 12.7302 23.8306 12.5917 23.8346 12.4549C23.8364 12.3918 23.8374 12.3288 23.8377 12.2659C23.8383 12.191 23.8383 12.1164 23.8383 12.0415V1.95853C23.8383 1.88362 23.8383 1.80884 23.8377 1.73406C23.8374 1.67112 23.8364 1.60818 23.8346 1.54526C23.8306 1.40813 23.822 1.2698 23.7954 1.13411C23.7705 0.99803 23.7235 0.866193 23.6561 0.743038C23.5197 0.495512 23.3018 0.294299 23.0338 0.16832C22.9005 0.106274 22.7578 0.0629043 22.6107 0.0396357C22.4636 0.0151937 22.3137 0.00713443 22.1654 0.0034351C22.0971 0.00183478 22.0289 0.000865853 21.9607 0.000528476C21.8798 0 21.7987 0 21.7179 0Z"
            fill="#E4E4E4"></path>
          <path
            d="M21.7176 0.466675L21.9567 0.467071C22.0214 0.467468 22.0862 0.468128 22.1513 0.469714C22.2647 0.47262 22.3972 0.478301 22.5208 0.49878C22.628 0.516616 22.7182 0.5437 22.8046 0.584393C22.9775 0.665588 23.1179 0.795466 23.2057 0.955251C23.2494 1.03452 23.2786 1.11723 23.2979 1.21724C23.32 1.33007 23.3261 1.45281 23.3291 1.55811C23.331 1.61756 23.3318 1.67702 23.332 1.73779C23.3327 1.81138 23.3327 1.88484 23.3327 1.95856V12.0416C23.3327 12.1154 23.3327 12.1888 23.3321 12.2639C23.3318 12.3233 23.331 12.3828 23.3293 12.4422C23.3261 12.5474 23.32 12.6701 23.2976 12.7843C23.2814 12.8751 23.2503 12.9631 23.2054 13.0452C23.1175 13.205 22.9768 13.3349 22.8037 13.4161C22.7179 13.4565 22.628 13.4836 22.5218 13.5013C22.3957 13.522 22.2576 13.5277 22.1536 13.5303C22.0882 13.5317 22.0231 13.5326 21.9563 13.5329C21.8769 13.5334 21.7971 13.5334 21.7176 13.5334H2.278C2.19933 13.5334 2.12065 13.5334 2.04055 13.5329C1.97617 13.5326 1.9118 13.5318 1.84743 13.5305C1.74101 13.5278 1.60283 13.522 1.4778 13.5014C1.37896 13.4862 1.28317 13.4572 1.19371 13.4155C1.1079 13.3753 1.02958 13.3226 0.961692 13.2596C0.893589 13.1968 0.836712 13.1245 0.793184 13.0452C0.748231 12.9626 0.717076 12.8742 0.700776 12.7829C0.678461 12.6689 0.672167 12.5467 0.669306 12.4423C0.66769 12.3827 0.666736 12.323 0.666445 12.2633L0.666016 12.088V1.91232L0.666302 1.73726C0.666597 1.6775 0.667551 1.61773 0.669163 1.55798C0.67231 1.45334 0.678461 1.33113 0.700919 1.21619C0.717251 1.12514 0.748406 1.0369 0.793327 0.954459C0.836952 0.875183 0.893926 0.802806 0.962121 0.740029C1.03017 0.677076 1.10858 0.624459 1.19443 0.584129C1.28367 0.54272 1.37915 0.513948 1.47766 0.49878C1.60139 0.478301 1.734 0.47262 1.84758 0.469714C1.91213 0.468241 1.97669 0.46736 2.04126 0.467071L2.28115 0.466675H21.7176Z"
            fill="white"></path>
          <path
            d="M6.3852 4.72592C6.58603 4.49405 6.72221 4.18264 6.68631 3.8645C6.39249 3.87798 6.03402 4.04352 5.82632 4.27566C5.63993 4.47436 5.47499 4.79872 5.51791 5.10351C5.84777 5.12994 6.17735 4.95131 6.3852 4.72592ZM6.68259 5.1631C6.20339 5.13668 5.79628 5.41413 5.56755 5.41413C5.33867 5.41413 4.98835 5.17631 4.60942 5.18279C4.11634 5.18939 3.65888 5.44702 3.40855 5.85659C2.89387 6.67573 3.27265 7.89123 3.77332 8.55843C4.01635 8.88873 4.30931 9.25205 4.69525 9.23897C5.06002 9.22576 5.20292 9.02098 5.64608 9.02098C6.08909 9.02098 6.21783 9.23897 6.60392 9.23237C7.00416 9.22576 7.25449 8.90207 7.49753 8.57177C7.77647 8.19523 7.89047 7.83191 7.89763 7.81209C7.89047 7.80548 7.12575 7.53451 7.1186 6.72197C7.11144 6.04156 7.7191 5.71787 7.74771 5.69792C7.40455 5.22916 6.86841 5.17631 6.68245 5.1631"
            fill="black"></path>
          <path
            d="M11.4578 4.24237C12.4989 4.24237 13.224 4.90521 13.224 5.87021C13.224 6.83864 12.484 7.50492 11.4318 7.50492H10.2791V9.19816H9.44629V4.24237H11.4578ZM10.2791 6.85925H11.2347C11.9599 6.85925 12.3724 6.4987 12.3724 5.87365C12.3724 5.24872 11.9598 4.89147 11.2384 4.89147H10.2791V6.85925ZM13.4306 8.1712C13.4306 7.53584 13.9548 7.17185 14.9215 7.11689L15.9589 7.05849V6.78368C15.9589 6.38204 15.6727 6.16219 15.1633 6.16219C14.743 6.16219 14.438 6.3613 14.3751 6.66689H13.6238C13.6463 6.02479 14.3006 5.55775 15.1856 5.55775C16.1374 5.55775 16.7584 6.01792 16.7584 6.73229V9.19803H15.9888V8.60389H15.9702C15.7508 8.99192 15.2673 9.23568 14.743 9.23568C13.9697 9.23568 13.4306 8.80999 13.4306 8.1712ZM15.9589 7.85186V7.57362L15.0331 7.62858C14.5124 7.6595 14.2412 7.83799 14.2412 8.15045C14.2412 8.45274 14.5237 8.64854 14.9662 8.64854C15.5312 8.64854 15.9589 8.31534 15.9589 7.85186ZM17.466 10.5236V9.92957C17.5181 9.93631 17.6444 9.94318 17.7114 9.94318C18.0794 9.94318 18.2877 9.79917 18.4141 9.42804L18.4885 9.20833L17.0792 5.6024H17.9492L18.931 8.52831H18.9496L19.9311 5.6024H20.779L19.3176 9.39026C18.9829 10.2592 18.6 10.5443 17.7895 10.5443C17.7262 10.5443 17.5217 10.5374 17.466 10.5236Z"
            fill="black"></path>
        </g>
        <defs>
          <clipPath id="clip0_78_479">
            <rect width="24" height="14" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </span>
    <span class="w-6 h-[14px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="14"
        viewBox="0 0 24 14"
        fill="none"
      >
        <g clip-path="url(#clip0_78_485)">
          <path
            opacity="0.07"
            d="M22.1053 0H1.89474C0.821053 0 0 0.758333 0 1.75V12.25C0 13.2417 0.88421 14 1.89474 14H22.1053C23.1789 14 24 13.2417 24 12.25V1.75C24 0.758333 23.1158 0 22.1053 0Z"
            fill="black"></path>
          <path
            d="M22.1055 0.583313C22.8003 0.583313 23.3687 1.10831 23.3687 1.74998V12.25C23.3687 12.8916 22.8003 13.4166 22.1055 13.4166H1.89499C1.20026 13.4166 0.631836 12.8916 0.631836 12.25V1.74998C0.631836 1.10831 1.20026 0.583313 1.89499 0.583313H22.1055Z"
            fill="#006FCF"></path>
          <path
            d="M5.66595 5.98969L6.15479 7.08402H5.18089L5.66595 5.98969ZM15.8186 6.03519H13.9384V6.5176H15.7883V7.24035H13.9422V7.77819H15.8224V8.20927L17.1342 6.89969L15.8224 5.53469L15.8186 6.03519ZM6.93668 4.67019H9.45984L10.0201 5.79894L10.5392 4.66669H17.0887L17.7695 5.36085L18.4737 4.66669H21.4819L19.2594 6.91369L21.4592 9.14669H18.4062L17.7253 8.45252L17.0148 9.14669H6.33479L6.02279 8.45252H5.3091L4.99647 9.14669H2.52637L4.60174 4.66669H6.76805L6.93668 4.67019ZM12.4081 5.29902H10.9939L10.0466 7.36169L9.02026 5.29902H7.61689V8.10485L6.31584 5.29902H5.0571L3.55268 8.51435H4.53479L4.84679 7.82019H6.48637L6.79837 8.51435H8.51626V6.21894L9.62216 8.51785H10.3737L11.4727 6.22594V8.51844H12.3935L12.4087 5.29844L12.4081 5.29902ZM18.307 6.91369L19.9055 5.29902H18.7548L17.7436 6.30585L16.7659 5.29902H13.0434V8.51785H16.7129L17.7323 7.50402L18.7099 8.51785H19.8942L18.3076 6.91369H18.307Z"
            fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_78_485">
            <rect width="24" height="14" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </span>
  </div>
</div>
