<div class="product flex gap-4 my-6 flex-wrap">
  <div class="left bg-[#2C7EF8] rounded-xl flex-1">
    <img
      src="https://s3-alpha-sig.figma.com/img/d7dc/d812/be356da38eef349d3173d8e6588e7d74?Expires=1696204800&Signature=JsAgU3tZulZupdLZF9VVyoJK3TiMHxJ-LNq7rU5P1~LbsZqJ5a8TiYFqYEmVEK9aq3Be1doZkJwowSmkGStMAqHXOFFnPtaxhnIS9FqAHzSj4e8w~uq9xClMHWvP124pDJULrf8Mfb9TFf4-eNmj9GhrHgvPUXCv7-BtF7DfTOjruxGWyQwkeAiD4KMgrmjvNgjfbzhmejsyiTB5Qhf9iLKOBBst3YZgvUQ27jOSfcaRzS0p8Ej9PU1j7i~eJr1yeILQSXgoa0lWl-PTqN8qqNWCchBgrtc5n-3QQU8v3zE3wlBgmZaBJfuSsPnNe~6fUP2v3dNohP8ikmer5qr0Ag__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      alt="product image "
    />
  </div>
  <div class="right flex-[3] my-2 flex flex-col justify-between">
    <div class="head flex w-full justify-between items-center">
      <h2>Clarifion Air Ionizer</h2>
      <div class="price flex items-center gap-2">
        <span class="old text-[#969696] text-[10px] font-semibold">$ 180</span>
        <span class="new text-[#2C7EF8] text-sm font-semibold">$ 84</span>
      </div>
    </div>
    <div class="calification flex">
      {
        [1, 2, 3, 4, 5].map((item, index) => (
          <span class="w-3 h-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
            >
              <path
                d="M10.6407 4.13774L7.6653 3.70531L6.33522 1.00883C6.29889 0.935002 6.23913 0.875236 6.1653 0.838908C5.98014 0.747502 5.75514 0.823674 5.66257 1.00883L4.33249 3.70531L1.3571 4.13774C1.27506 4.14946 1.20006 4.18813 1.14264 4.24672C1.07322 4.31807 1.03497 4.41407 1.03629 4.51361C1.03761 4.61315 1.07839 4.70809 1.14967 4.77758L3.30241 6.87641L2.79382 9.84008C2.78189 9.90902 2.78952 9.97993 2.81584 10.0448C2.84216 10.1096 2.88611 10.1657 2.94272 10.2068C2.99933 10.248 3.06633 10.2724 3.13612 10.2774C3.20591 10.2823 3.27569 10.2677 3.33756 10.235L5.99889 8.83578L8.66022 10.235C8.73288 10.2737 8.81725 10.2866 8.89811 10.2725C9.10202 10.2373 9.23913 10.044 9.20397 9.84008L8.69538 6.87641L10.8481 4.77758C10.9067 4.72016 10.9454 4.64516 10.9571 4.56313C10.9887 4.35805 10.8458 4.16821 10.6407 4.13774Z"
                fill="#FFC000"
              />
            </svg>
          </span>
        ))
      }
    </div>
    <div class="stock flex items-center gap-4">
      <span class="w-3 h-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
        >
          <ellipse cx="6" cy="6" rx="6" ry="6.00003" fill="#E3EEFF"></ellipse>
          <ellipse cx="6" cy="5.99998" rx="3" ry="3.00001" fill="#2C7EF8"
          ></ellipse>
        </svg>
      </span>
      <p class="text-xs text-[#37465A]">12 left in Stock</p>
    </div>
  </div>
  <div class="description text-xs w-full text-center text-[#4D5254]">
    <p>
      Simply plug a Clarifion into any standard outlet and replace bulky,
      expensive air purifiers with a simple.
    </p>
  </div>
</div>
