<div
  class="promotion my-6 bg-[#EDF3FD] px-4 py-3 rounded-[10px] flex items-center gap-4 justify-center"
>
  <img src="./Group 1000004656.png" alt="" />
  <p class="text-sm">
    Save <span class="text-[#2C7EF8]">53%</span> and get <span
      class="text-[#2C7EF8]">6 extra Clarifision</span
    > for only <span class="text-[#2C7EF8]">$14 Each</span>.
  </p>
</div>
