<div class="satisfaction mt-6 flex justify-center gap-4">
  <div class="left w-56">
    <img
      src="https://s3-alpha-sig.figma.com/img/0003/461b/9ab77b5d839615855b972dedd4310061?Expires=1696204800&Signature=RaXzMtmXByG1LPLk3jurSSze10V3Zbtgv9ZFCDIoIEUg7YEebpUzQM-rBGrWpwTBy5z0iNMhG85P4q1g32AaYEv9a~j155X4AHMn0J3RefqkiATS39EKF2YTTN5nOrwhmvM27tM2pdnYZIRnQsn3zPBzmf1cP8Ywh70ytSfRK3XB12viYPK-cNgyqHbbdpdpbH6W2jRgMrA2Jma-a06M9d7hpabwlmzeYVMYyIqKTJbmMj974r-s-e-ByHp2vBRteR63Ga5k9aTxbLP3NYFK4PXxRxGqgbJUWpNvwSkSYmZEXo8lOJu12l3tzghD03hcQSTnLiTidaDwfyalCiJ76w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      alt="logo"
    />
  </div>
  <div class="right text-xs text-[#4D5254] font-normal">
    If you are not completely thrilled with your Clarifion - We have a <span
      class="font-bold">30 day satisfaction guarantee</span
    >. Please refer to our return policy at the bottom of the page for more
    details. Happy Shopping!
  </div>
</div>
