<div class="flex w-full justify-between my-6">
  <div
    class="flex gap-2 flex-col items-center justify-center md:flex-row md:gap-5"
  >
    <span class="w-5 h-5 relative flex justify-center items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <circle
          cx="10.5"
          cy="10"
          r="9"
          fill="#85BF55"
          stroke="#85BF55"
          stroke-width="2"></circle>
      </svg>
      <span
        class="absolute h-2 w-3 top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="9"
          viewBox="0 0 13 9"
          fill="none"
        >
          <path
            d="M1.49976 4.5L4.82917 8L11.4998 1"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </span>
    </span>
    <p class="text-xs">Cart Review</p>
  </div>

  <div
    class="flex gap-2 flex-col items-center justify-center md:flex-row md:gap-5"
  >
    <span class="w-5 h-5 relative flex justify-center items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <circle
          cx="10.5"
          cy="10"
          r="9"
          fill="#85BF55"
          stroke="#85BF55"
          stroke-width="2"></circle>
      </svg>
      <span
        class="absolute h-2 w-3 top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="9"
          viewBox="0 0 13 9"
          fill="none"
        >
          <path
            d="M1.49976 4.5L4.82917 8L11.4998 1"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </span>
    </span>
    <p class="text-xs">Checkout</p>
  </div>

  <div
    class="flex gap-2 flex-col items-center justify-center md:flex-row md:gap-5"
  >
    <span class="w-5 h-5 relative flex justify-center items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <circle
          cx="10.1665"
          cy="10"
          r="9"
          fill="#2C7EF8"
          stroke="#2C7EF8"
          stroke-width="2"></circle>
      </svg>
      <span
        class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
      >
        <p class="text-white text-sm">3</p>
      </span>
    </span>
    <p class="text-xs font-bold">Special Offer</p>
  </div>

  <div
    class="flex gap-2 flex-col items-center justify-center md:flex-row md:gap-5"
  >
    <span class="w-5 h-5 relative flex justify-center items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
      >
        <circle cx="10" cy="10" r="9.5" stroke="#2C7EF8"></circle>
      </svg>
      <span
        class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
      >
        <p class="text-[#2C7EF8] text-sm">4</p>
      </span>
    </span>
    <p class="text-xs">Confirmation</p>
  </div>
</div>
