<div class="w-full">
  <h1 class="text-[32px] text-center">Wait ! your order in progress.</h1>
  <p class="mt-6 text-base text-center text-[#4D5254]">
    Lorem ipsum dolor sit amet, consectetur adipiscing
  </p>
</div>
